<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.jgm.kyoto.persistence.CommentDao">
 
 
 <select id="getCommentList" resultType="CommentVO">
 
 
 
 
 	SELECT * FROM tbl_comment C WHERE C.C_F_ID = #{c_f_id} AND C_P_NUMBER IS NULL ORDER BY C_NUMBER
 	
 </select>
 
 <select id="checkPNumCount" resultType="int">
 
 	SELECT COUNT(*) FROM tbl_comment WHERE 
 	(SELECT C_P_NUMBER FROM tbl_comment WHERE C_NUMBER = #{c_p_number})  IS NOT NULL
 	
 	
 
 </select>
 

 <insert id="hensinInsert" parameterType="CommentVO">
 
 
 	INSERT INTO tbl_comment(U_ID, C_NUMBER, C_F_ID, C_TEXT, C_DATE, U_NICKNAME, C_P_NUMBER)
 	VALUES(#{u_id}, SEQ_COMMENT.NEXTVAL, #{c_f_id}, #{c_text}, #{c_date}, #{u_nickname}, #{c_p_number})

 
 
 
 </insert>
 
 
 <delete id="delete">
 
 
 	DELETE FROM tbl_comment WHERE C_NUMBER = #{c_number} AND U_ID = #{u_id}
 	
 	<!-- 
 	(SELECT u_id FROM tbl_comment WHERE C_NUMBER = #{c_number}) = #{u_id}
  -->
 
 </delete>
 
 </mapper> 